@charset "UTF-8";
@font-face {
  font-family: 'Pragmatica Book';
  src: url("/../fonts/pragmatica/Pragmatica Book.eot");
  src: url("/../fonts/pragmatica/Pragmatica Book.woff2") format("woff2"), url("/../fonts/pragmatica/Pragmatica Book.eot?#iefix") format("embedded-opentype");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'Pragmatica';
  src: url("/../fonts/pragmatica/Pragmatica.woff") format("woff"), url("/../fonts/pragmatica/Pragmatica.ttf") format("truetype"), url("/../fonts/pragmatica/Pragmatica.svg#Pragmatica") format("svg");
  font-weight: normal;
  font-style: normal; }
html, body {
  height: 100%;
  background-color: #fecd28; }

body {
  font-family: 'Pragmatica', serif; }

.page-wrapper {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin-bottom: -130px; }

/*TOP-BLOCK*/
.top-block {
  background-color: #007100;
  margin-right: -15px;
  margin-left: -15px; }
  .top-block .row .enter {
    color: #ffffff; }
    .top-block .row .enter p {
      position: relative; }
      .top-block .row .enter p i {
        margin-right: 7px;
        padding-top: 7px; }
      .top-block .row .enter p a {
        color: #ffffff;
        text-decoration: underline;
        position: absolute;
        top: 10px; }
  .top-block .row .registration {
    color: #ffffff; }
    .top-block .row .registration p {
      position: relative; }
      .top-block .row .registration p i {
        margin-right: 7px;
        padding-top: 7px;
        font-size: 26px; }
      .top-block .row .registration p a {
        color: #ffffff;
        text-decoration: underline;
        position: absolute;
        top: 10px; }
  .top-block .row .backcall {
    color: #ffffff;
    padding-right: 0; }
    .top-block .row .backcall p {
      position: relative; }
      .top-block .row .backcall p i {
        margin-right: 7px;
        padding-top: 7px; }
      .top-block .row .backcall p a {
        color: #ffed00;
        text-decoration: underline;
        position: absolute;
        top: 10px;
        font-size: 16px;
        font-weight: bold; }
  .top-block .row .user-office {
    color: #ffffff; }
    .top-block .row .user-office p {
      position: relative; }
      .top-block .row .user-office p i {
        margin-right: 7px;
        padding-top: 7px;
        font-size: 26px; }
      .top-block .row .user-office p a {
        color: #ffffff;
        text-decoration: underline;
        position: absolute;
        top: 10px; }
  .top-block .row .logout-user form button {
    color: #ffffff;
    font-size: 16px;
    text-decoration: underline;
    text-align: left;
    text-indent: 5px; }

/*HEADER*/
.header {
  background-color: #00cc00;
  margin-left: -15px;
  margin-right: -15px; }
  .header .row .logo-1 {
    padding-left: 0;
    padding-top: 20px;
    padding-bottom: 25px; }
  .header .row .logo-2 {
    padding-left: 0;
    padding-bottom: 25px;
    margin-left: -30px;
    top: 12px; }

/*DOWN-BLOCK*/
.down-block {
  background-color: #fff;
  color: #000;
  margin-right: -15px;
  margin-left: -15px; }
  .down-block .row .shop-address {
    padding-top: 8px;
    padding-bottom: 7px; }
    .down-block .row .shop-address i {
      font-size: 16px; }
    .down-block .row .shop-address a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px dotted #000000; }
  .down-block .row .shop-phone {
    padding-top: 8px;
    padding-bottom: 7px; }
    .down-block .row .shop-phone i {
      font-size: 16px; }
    .down-block .row .shop-phone span {
      border-bottom: 1px dotted #000000; }
  .down-block .row .shop-pay {
    padding-top: 8px;
    padding-bottom: 7px; }
    .down-block .row .shop-pay i {
      font-size: 16px; }
    .down-block .row .shop-pay a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px dotted #000000; }
  .down-block .row .shop-shipping {
    padding-top: 8px;
    padding-bottom: 7px; }
    .down-block .row .shop-shipping i {
      font-size: 16px; }
    .down-block .row .shop-shipping a {
      color: #000;
      text-decoration: none;
      border-bottom: 1px dotted #000000; }
  .down-block .row .shop-card {
    color: #e3000b;
    padding-top: 8px;
    padding-bottom: 7px; }
    .down-block .row .shop-card #vetshop-cart button {
      border: none;
      border-radius: 0;
      background-color: transparent; }
    .down-block .row .shop-card a {
      color: #e3000b;
      font-size: 16px;
      font-weight: bold;
      text-decoration: none;
      border-bottom: 1px dotted #e3000b; }
  .down-block .row .shop-search form {
    display: block;
    width: 80%;
    margin: auto; }
    .down-block .row .shop-search form .input-group {
      padding-top: 6px; }
      .down-block .row .shop-search form .input-group .form-control {
        height: 23px;
        border-left-color: #000000;
        border-top-color: #000000;
        border-bottom-color: #000000;
        border-right-color: transparent;
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
        font-size: 10px;
        text-transform: uppercase; }
        .down-block .row .shop-search form .input-group .form-control::-webkit-input-placeholder {
          color: #000000;
          font-weight: bold; }
        .down-block .row .shop-search form .input-group .form-control::-moz-placeholder {
          color: #000000;
          font-weight: bold; }
        .down-block .row .shop-search form .input-group .form-control:-moz-placeholder {
          color: #000000;
          font-weight: bold; }
        .down-block .row .shop-search form .input-group .form-control:-ms-input-placeholder {
          color: #000000;
          font-weight: bold; }
      .down-block .row .shop-search form .input-group .input-group-btn button {
        height: 23px;
        background-color: transparent;
        color: #000;
        position: relative;
        border-right-color: #000000;
        border-top-color: #000000;
        border-bottom-color: #000000;
        border-left-color: transparent;
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px; }
        .down-block .row .shop-search form .input-group .input-group-btn button i {
          display: block;
          position: absolute;
          top: 25%;
          right: 25%; }

.vetshop-cart #cart-total .glyphicon {
  font-size: 12px; }

#dropdown-cart {
  padding: 10px;
  width: 220%; }
  #dropdown-cart .td-image img {
    max-height: 50px; }

.cart-index .cart-image img {
  max-height: 50px;
  margin: auto; }

/*PICTURE MENU*/
.picture-menu {
  overflow: hidden;
  background-color: #ffed00;
  margin-right: -15px;
  margin-left: -15px;
  padding: 25px 15px; }
  .picture-menu .item-block {
    width: 12.5%;
    margin-right: 2%;
    float: left; }
    .picture-menu .item-block:last-child {
      margin-right: 0; }
    .picture-menu .item-block .block-title {
      margin-bottom: 20px; }
      .picture-menu .item-block .block-title a {
        color: #000;
        font-size: 20px;
        text-transform: uppercase;
        font-weight: bold; }
        .picture-menu .item-block .block-title a:hover {
          text-decoration: underline; }
    .picture-menu .item-block .block-picture img {
      margin: auto;
      border: 5px solid #ffffff;
      border-radius: 50%;
      background-color: #fff; }
      .picture-menu .item-block .block-picture img:hover {
        border-color: #009ee3;
        opacity: .8; }

/*SIDEBAR*/
.aside-menu ul {
  /*FIRST LEVEL*/
  display: block;
  list-style: outside none none;
  padding-left: 0;
  border: 1px solid #00cc00;
  border-radius: 10px; }
  .aside-menu ul li ul {
    /*SECOND LEVEL*/
    border: none;
    border-radius: 0; }
    .aside-menu ul li ul li ul {
      /*THIRD LEVEL*/
      border: none;
      border-radius: 0; }
      .aside-menu ul li ul li ul li:first-child a {
        border-radius: 10px 10px 0 0;
        border-top: none; }
      .aside-menu ul li ul li ul li:last-child a {
        border-radius: 0 0 10px 10px; }
      .aside-menu ul li ul li ul li a {
        padding-left: 45px; }
        .aside-menu ul li ul li ul li a:first-child {
          border-radius: 0;
          border-top: none; }
        .aside-menu ul li ul li ul li a:last-child {
          border-radius: 0; }
    .aside-menu ul li ul li:first-child a {
      border-radius: 0;
      border-top: none; }
    .aside-menu ul li ul li:last-child a {
      border-radius: 0; }
    .aside-menu ul li ul li a {
      padding-left: 30px;
      font-weight: normal;
      text-transform: none; }
      .aside-menu ul li ul li a:first-child {
        border-radius: 0;
        border-top: none; }
      .aside-menu ul li ul li a:last-child {
        border-radius: 0; }
  .aside-menu ul li:first-child a {
    border-radius: 10px 10px 0 0;
    border-top: none; }
  .aside-menu ul li:last-child a {
    border-radius: 0 0 10px 10px; }
  .aside-menu ul li a {
    background-color: #00cc00;
    color: #000;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #00cc00;
    border-top-color: #b1f0b1;
    position: relative;
    display: block;
    padding: 10px 5px; }
    .aside-menu ul li a[title="Ветаптека"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/01_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Собаки"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/02_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Кошки"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/03_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Птицы"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/04_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Грызуны"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/05_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Рептилии, черепахи"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/06_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="Рыбы"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/07_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a[title="С/х животные и лошади"] {
      padding-left: 45px;
      background: #00cc00 url("../files/default/17_mnu_icon.png") no-repeat 5px 50%; }
    .aside-menu ul li a.active, .aside-menu ul li a:hover {
      border-top-color: #b1f0b1;
      border-right-color: #00cc00;
      border-left-color: #00cc00;
      border-bottom-color: #00cc00;
      color: #ffed00; }
      .aside-menu ul li a.active i, .aside-menu ul li a:hover i {
        color: #fff; }
    .aside-menu ul li a i {
      color: #ffed00; }

.others-menu {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #00cc00;
  border: 1px solid #00cc00;
  border-radius: 10px; }
  .others-menu .nav li {
    border-bottom: 1px dotted #b1f0b1; }
    .others-menu .nav li:last-child {
      border-bottom: none; }
    .others-menu .nav li a {
      color: #000;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold; }
      .others-menu .nav li a img {
        margin-right: 10px;
        padding-left: 5px;
        float: left;
        margin-bottom: 10px; }

.others-menu .nav li a:hover, .others-menu .nav li a:focus, .others-menu .nav li a.active {
  background-color: transparent;
  text-decoration: underline; }

/*CONTENT*/
.main-content {
  margin-left: -15px;
  margin-right: -15px;
  padding-top: 15px;
  padding-bottom: 15px;
  background-color: #fff; }
  .main-content .col-sm-9 .panel.subcategories {
    margin-right: 5px; }
    .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 {
      padding: 7px; }
      .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 div {
        display: table;
        width: 100%; }
        .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 div a {
          background-color: #5bc0de;
          display: table-cell;
          padding: 10px;
          border: 1px solid #5bc0de;
          border-radius: 7px;
          line-height: 14px;
          margin-bottom: 15px;
          height: 70px;
          color: #000;
          vertical-align: middle; }
          .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 div a:hover {
            box-shadow: 2px 2px 4px #000000; }
  .main-content .col-sm-9 .select-panel {
    margin-right: -10px; }
  .main-content .col-sm-9 .product-panel {
    margin-right: -10px;
      /*.product-layout.col-sm-4{
        margin-bottom: 25px;
        height: 230px;
        .product-image{
          a{
            img{
              margin: 0 auto 10px;
            }
          }
        }
        .product-caption{
          a{

            h4{
              text-align: center;
              font-size: 16px;
              color: #000;
              margin-bottom: 3px;
              height: 25px;
            }
          }
          .price{
            text-align: center;
            font-size: 24px;
            font-weight: bold;
            color: #045DA5;
            .glyphicon-rub{
              font-size: 17px;
              color: #000;
              height: 20px;
              font-weight: normal;
            }
            .price-old{
              font-weight: normal;
              color: #000;
              font-size: 14px;
              .glyphicon{
                font-size: 10px;
              }
            }
          }
        }
      }*/ }
    .main-content .col-sm-9 .product-panel .product-layout {
      margin-bottom: 35px;
      height: 300px; }
      .main-content .col-sm-9 .product-panel .product-layout .product-thumb .product-image img {
        margin: 0 auto 10px; }
      .main-content .col-sm-9 .product-panel .product-layout .product-thumb .product-caption a h4 {
        font-size: 16px;
        color: #000;
        margin-bottom: 5px;
        height: auto; }
      .main-content .col-sm-9 .product-panel .product-layout .product-thumb .product-caption .price {
        font-size: 24px;
        font-weight: bold;
        color: #045DA5; }
        .main-content .col-sm-9 .product-panel .product-layout .product-thumb .product-caption .price i {
          font-size: 16px;
          color: #000;
          font-weight: normal; }
  .main-content .col-sm-9 .product-list {
    height: 170px; }
    .main-content .col-sm-9 .product-list .product-thumb .product-image {
      float: left;
      width: 15%;
      margin: 0 35px 10px 0; }
    .main-content .col-sm-9 .product-list .product-thumb .product-caption {
      float: left;
      width: 40%;
      margin: 0 35px 10px 0; }
    .main-content .col-sm-9 .product-list .product-thumb .button-group {
      float: left;
      margin: 5% 0 10px 0; }
  .main-content .col-sm-9 .pagination-panel {
    margin-right: -5px; }
    .main-content .col-sm-9 .pagination-panel .product-quantity {
      padding-top: 35px; }

.search-widget {
  margin-bottom: 10px; }
  .search-widget .col-sm-1 {
    padding-top: 7px; }
  .search-widget form button {
    background-color: #ff0000;
    color: #ffffff; }

.featured-node .product-layout.col-sm-4 {
  margin-bottom: 25px; }
  .featured-node .product-layout.col-sm-4 .product-image a img {
    margin: 0 auto 10px; }
  .featured-node .product-layout.col-sm-4 .product-caption a h4 {
    text-align: center;
    font-size: 16px;
    color: #000;
    margin-bottom: 8px;
    height: 35px; }
  .featured-node .product-layout.col-sm-4 .product-caption .price {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #045DA5; }
    .featured-node .product-layout.col-sm-4 .product-caption .price .glyphicon-rub {
      font-size: 17px;
      color: #000;
      font-weight: normal; }

.single-product-page .col-sm-7 .product-main-photo {
  border: 1px dotted #9e9e9e;
  margin-bottom: 25px; }
  .single-product-page .col-sm-7 .product-main-photo img {
    max-height: 250px; }
.single-product-page .col-sm-7 .product-other-photos img {
  border: 1px dotted #9e9e9e;
  margin-bottom: 7px; }
.single-product-page .product-modifications {
  margin-bottom: 25px; }
  .single-product-page .product-modifications .product-modification-image img {
    margin: 0 auto 8px; }
  .single-product-page .product-modifications .product-modification-common .modification-price {
    font-size: 20px;
    font-weight: bold;
    color: #4267b2; }
    .single-product-page .product-modifications .product-modification-common .modification-price span {
      font-size: 14px;
      font-weight: normal;
      color: #000; }
  .single-product-page .product-modifications .product-modification-common .modification-name {
    font-weight: bold;
    margin-bottom: 7px;
    height: 40px; }
.single-product-page .col-sm-5 .common-properties .common-description-link {
  color: #00cc00;
  font-size: 16px;
  font-weight: bold;
  padding-right: 10px; }
.single-product-page .col-sm-5 .common-price {
  color: #4267b2;
  font-size: 24px;
  font-weight: bold; }
  .single-product-page .col-sm-5 .common-price span {
    font-size: 14px;
    font-weight: normal;
    color: #000; }

.breadcrumb {
  background-color: #fecd28;
  margin-right: 5px; }
  .breadcrumb li a {
    color: #000;
    font-weight: bold; }
  .breadcrumb li.active {
    color: #000; }

.btn-add-to-cart {
  background-color: #ff7900;
  color: #ffffff; }
  .btn-add-to-cart:hover {
    color: #ffffff;
    text-decoration: underline; }

.featured-block .product-layout.col-sm-4 {
  margin-bottom: 25px; }
  .featured-block .product-layout.col-sm-4 .product-image a img {
    margin: 0 auto 10px; }
  .featured-block .product-layout.col-sm-4 .product-caption a h4 {
    text-align: center;
    font-size: 16px;
    color: #000;
    height: 65px;
    margin-bottom: 5px; }
  .featured-block .product-layout.col-sm-4 .product-caption .price {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    color: #045DA5; }
    .featured-block .product-layout.col-sm-4 .product-caption .price i {
      font-size: 16px;
      color: #000;
      font-weight: normal; }

#comments .comment-item .panel .panel-body .row .col-sm-2.text-left {
  font-weight: bold; }
#comments .comment-item .panel .panel-body .row .col-sm-4 {
  font-style: italic;
  color: #999999; }
#comments .comment-item .panel .panel-body .row .col-sm-2.col-sm-offset-2 span {
  color: #007100;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px dotted #007100;
  cursor: pointer;
  text-transform: uppercase; }

.leave-reply {
  display: none; }

#comments .comment-item .comment-reply {
  color: #337ab7;
  text-decoration: none;
  border-bottom: 1px dotted #337ab7;
  cursor: pointer; }

#comments .margin {
  margin-left: 40px; }

#comments .comment-item .comment-item .comment-item .comment-item .comment-item .margin {
  margin-left: 0; }

/*SLIDER*/
.slider {
  margin-bottom: 15px; }
  .slider .carousel.slide .carousel-indicators li {
    background-color: #959595; }
    .slider .carousel.slide .carousel-indicators li.active {
      background-color: #1b9143; }

/*BONUS-BLOCK*/
.bonus-block {
  padding: 23px;
  background-color: #00cc00;
  border: 1px solid #00cc00;
  border-radius: 10px; }
  .bonus-block .row .col-sm-3 .bonus-title {
    height: 50px; }
    .bonus-block .row .col-sm-3 .bonus-title a h4 {
      color: #000;
      font-size: 18px;
      font-weight: bold;
      text-transform: uppercase; }
  .bonus-block .row .col-sm-3 .bonus-image a img {
    margin: auto;
    border: 5px solid #ffffff;
    border-radius: 50%;
    opacity: 1.0;
    background: #9c9c9c; }
  .bonus-block .row .col-sm-3 .bonus-image a:hover img {
    border-color: #ffed00;
    opacity: 0.7; }

/*BRANDS*/
.brand-carousel {
  padding-left: 25px;
  padding-right: 25px;
  position: relative; }
  .brand-carousel .slick-prev {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 0; }
  .brand-carousel .slick-next {
    border: none;
    background-color: transparent;
    position: absolute;
    top: 35%;
    left: 97%; }

/*SALE*/
.sale {
  margin-bottom: 15px; }
  .sale a {
    display: block;
    text-align: center;
    background-color: #e3000b;
    color: #ffffff;
    padding-top: 13px;
    padding-bottom: 13px;
    font-size: 28px;
    text-transform: uppercase;
    font-weight: bold;
    border: 1px solid #e3000b;
    border-radius: 10px; }

/*ARTICLE MENU*/
.article-menu {
  padding-top: 13px;
  padding-bottom: 13px;
  background-color: #00cc00;
  border: 1px solid #00cc00;
  border-radius: 10px;
  margin-bottom: 15px; }
  .article-menu .nav li {
    border-bottom: 1px dotted #b1f0b1; }
    .article-menu .nav li:last-child {
      border-bottom: none; }
    .article-menu .nav li a {
      color: #000;
      font-size: 13px;
      text-transform: uppercase;
      font-weight: bold; }
      .article-menu .nav li a img {
        margin-right: 10px;
        padding-left: 5px;
        float: left;
        margin-bottom: 10px; }

.article-menu .nav li a:hover, .article-menu .nav li a:focus, .article-menu .nav li a.active {
  background-color: transparent;
  text-decoration: underline; }

.alert-message {
  margin-right: -15px;
  margin-left: -15px; }

.order-index {
  margin: 25px; }

.product-review {
  margin-top: 25px;
  padding-bottom: 15px;
  border-bottom: 1px dashed #00cc00; }

div.required label:after {
  content: " *";
  color: red; }

.related-product-block {
  margin-top: 25px;
  margin-bottom: 25px; }
  .related-product-block h2 {
    font-weight: bold;
    margin-top: 15px;
    margin-bottom: 25px; }
  .related-product-block .row .col-sm-4 {
    height: 250px; }
    .related-product-block .row .col-sm-4 a img {
      height: 100px;
      margin: 0 auto 7px;
      text-align: center; }

.product-adding form button {
  background-color: #ff0000;
  color: #ffffff; }
  .product-adding form button:hover {
    background-color: #ff0000;
    text-decoration: underline; }

/*FOOTER*/
.footer-push {
  height: 130px; }

.footer {
  height: 130px;
  background: #00cc00 url("/../files/default/animals_footer.png") no-repeat center center/contain; }

/*ADAPTIVE SETTINGS*/
@media screen and (max-width: 1200px) {
  .header .row .logo-1 a img {
    margin-left: -20px; }

  .down-block .row .shop-pay {
    padding-left: 0; }

  .aside-menu ul li a {
    font-size: 11px; }

  .article-menu .nav li a {
    font-size: 11px; }

  .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; } }
@media screen and (max-width: 993px) {
  .down-block .row .shop-search form .search-query {
    width: 60%; }

  .picture-menu .item-block .block-title a {
    font-size: 14px; }

  .category-menu .list-group-item {
    font-size: 14px; }

  .article-menu .nav li a {
    font-size: 10px; }

  .sale a {
    font-size: 18px; }

  .aside-menu ul li a {
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    -ms-hyphens: auto; }

  .main-content .col-sm-9 .panel.subcategories .panel-body .row .col-sm-3 div a {
    height: 93px; } }
@media screen and (max-width: 768px) {
  .top-block .row .user-office p {
    /*text-align: center;*/ }

  .top-block .row .logout-user form button {
    width: 50px;
    display: block;
    margin: auto; }

  .top-block .row .backcall p {
    text-align: center; }

  .top-block .row .enter p {
    text-align: center; }

  .top-block .row .registration p {
    text-align: center; }

  .header .row .logo-1 a img {
    margin: auto; }

  .header .row .logo-2 a img {
    margin: auto; }

  .logout-user {
    float: left; }

  .backcall {
    float: left;
    clear: both; }
    .backcall a {
      width: 350px;
      text-align: left; }

  .shop-search {
    width: 100%;
    margin-bottom: 15px;
    overflow: hidden; }
    .shop-search form {
      display: block;
      width: 70% !important;
      margin: auto !important; }

  .down-block .row .shop-pay {
    text-align: center; }

  .down-block .row .shop-shipping {
    text-align: center; }

  .down-block .row .shop-card {
    margin-bottom: 15px; }

  .picture-menu .item-block {
    float: none !important; }

  .picture-menu .item-block {
    width: 100%;
    margin-right: 0;
    margin-bottom: 25px; }

  #dropdown-cart {
    width: 100%; }

  .article-menu .nav li a {
    font-size: 16px; }

  .sale a {
    font-size: 26px; }

  .aside-menu ul li a {
    font-size: 14px; }

  .article-menu .nav li a {
    font-size: 14px; } }

/*# sourceMappingURL=style.css.map */
